[Unit]
Description=Search
After=network.target

[Service]
User=search
WorkingDirectory=/opt/search
ExecStart=/opt/search/run
Restart=on-failure

[Install]
WantedBy=multi-user.target
