[Unit]
Description=Search
After=network.target

[Service]
User=search
WorkingDirectory=/opt/search
EnvironmentFile=-/etc/default/search
ExecStart=/opt/search/run
SyslogIdentifier=search
Restart=on-failure

[Install]
WantedBy=multi-user.target
